	body {
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}

    p button.play {
        color:black;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #ddd;
        border: none;
        padding: 10px 30px;
        width: 150px;
        outline: none;
        cursor:pointer;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
    p button.play:hover {
        background-color: #ccc;
    }

    .editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
		width:750px;
    }

	.large {
		height:750px;
	}

    .large-medium {
        height:850px;
    }

	.medium-large {
		height:700px;
	}	
	
	.medium {
		height:500px;
	}

    .playground {
        height:666px;
    }

	.medium-small {
		height:325px;
	}	
	
	.small {
		height:250px;
	}
	
	.tiny {
		height:155px;
	}

    .msg {
        position: absolute;
        z-index: 9999;
        top:0;
        left:0;
        width:100%;
        right:0;
        background-color: yellow;
        padding:20px;
        text-align: center;
    }

    .msg #close {
       float: right;
        cursor:pointer;
        background-color: #ccc;
        padding:1px 6px 5px 6px;
    }